<div>
        
    <h4>Página de cadastro de Produtos.</h4>
    
    <hr />

    <div class="col-md-4">
        
        <ul>
            <li style="color: red;" ng-repeat="e in erros | filter:search">
                {{e}}
            </li>
        </ul>

        <label>Nome do Produto:</label>
        <input type="text" id="nome" class="form-control" 
                ng-model="Model.Nome" />
        <br />

        <label>Preço:</label>
        <input type="text" id="preco" class="form-control" 
                ng-model="Model.Preco" />
        <br />

        <label>Quantidade:</label>
        <input type="number" id="quantidade" class="form-control" 
                ng-model="Model.Quantidade" />
        <br />

        <button class="btn btn-primary" ng-click="cadastrar()">
            Cadastrar Produto
        </button>

        <h3>{{mensagem}}</h3>

    </div>

</div>